.backgroundDiv{
  background-image: url("../../../../assets/FOOTER.jpg");
  width: 100%;
}

a{
  //color: white !important;
  font-size: 15px;
}

a:hover{
  color: #7dc6e7;
}

a:active{
  color: #7dc6e7;
}

.navbar-right
{
  margin-right: 5px;
}
