.container{
  background-image: url("../../../../assets/FOOTER.jpg");
  width: 100%;
}

.footer-menu{
  color: white !important;
  font-size: 15px;
}

.footer-menu:hover{
  color: #7dc6e7 !important;
}

.footer-menu:active{
  color: #7dc6e7 !important;
}
