@import "../../../shared/styles";

.imageDiv{
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  width: 750px;
  height: 280px;
  position: relative;
  margin-bottom: 20px;
}

.painting{
  height: 40%;
  width: 40%;
  margin-top: 10px;
  margin-left: 10px;
}

.painting-title{
  position: relative;
  left: 10px;
  bottom: 5px;
}

.painting-price{
  font-family: 'PT Sans Narrow',"Times New Roman", Times, serif;
}

.painting-description{
  width: 400px ;
}

.painting-artist{
  position: relative;
  left: 10px;
  bottom: 5px;
}

.cross{
  float:right;
}

.right-details{
  position: relative;
  left: 320px;
  bottom: 270px;
}
