
<div class="container">
  <div class="z-depth-3 login-box">
    <div class="row top-div">

      <div class="blue-line-div">
        <div class="col-xs-6 col-md-4">
          <h1>LOGIN</h1>
        </div>
        <div class="col-xs-12 col-md-8">
          <h3>Don't have an account? <a routerLink="/register">Register Here</a></h3>
        </div>
      </div>

      <form>
        <div class="form-group-lg col-md-8 loginForm">
          <input type="email" class="form-control formInput emailClass" placeholder="Email" [(ngModel)]="loginData.username"
                 name="usernameField">
          <br>
          <input type="password" class="form-control formInput passClass" placeholder="Password" [(ngModel)]="loginData.password"
                 name="password">
          <br>
          <button (click)=attemptLogin() class="btn waves-effect waves-light col-xs-6 col-md-4 loginButton">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
