@import "../../shared/styles";

.login-box
{
  position: relative;
  width: 60%;
  height: 75%;
  margin-left: 22%;
  margin-right: 30%;
  margin-top: 80px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 40px;
  font-family: "gloucester-mt-extra-condensed","Times New Roman", Times, serif;
}

h3
{
  position: absolute;
  width: 420px;
  padding: 0px;
  font-size: 20px;
  bottom: -69px;
  right:-55px;
}

.top-div
{
  bottom: 20%;
  margin-left: 2%;
  margin-top: 50px;
}

.loginButton
{
  background-color: #0b2943;
  color: white;
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 80px;
  margin-left: 160px;
  top: 50px;
}

.inputClass
{
  outline: none;
  border: solid 1px #cccccc;

  position: relative;
  margin: 30px 20px 0px 20px;
  border-radius: 0;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
}

.loginButton:active
{
  background-color: #0c1034;
}

.loginForm
{
  position: relative;
  margin-left: 80px;
  margin-top: 20px;
}

.title-div
{
  position: relative;
  height: 80px;
  width: 655px;
  border-bottom: 1px solid #0b2943;
  bottom: 50px;
}
