h1
{
  font-size: 40px;
  font-family: "gloucester-mt-extra-condensed","Times New Roman", Times, serif;
}

.title
{
  padding-left: 30px;
}

.search_results
{

  margin-left: 10%;
  margin-right: 10%;
  padding-top: 40px;
  flex-wrap: wrap;
}

app-browse-item{
  width: 30%;
}
