<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a routerLink="/items">
        <img src="http://www.seomofo.com/downloads/new-google-logo-official.png">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <!--<li routerLinkActive="['active']"> <a routerLink="['one']">One</a></li>-->
      <li><a routerLink="/items">BROWSE</a></li>
      <li><a href="#">CART</a></li>
      <li><a href="#" routerLink="">SIGNUP/LOGIN</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

      <app-search></app-search>
    </ul>
  </div>
</nav>
