<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--<a routerLink="/home">-->
        <!--<img src="http://img.deusm.com/informationweek/2015/09/1322015/logo_420_color_2x.png">-->
      <!--</a>-->
    </div>
    <ul class="nav navbar-nav">
      <!--<li routerLinkActive="['active']"> <a routerLink="['one']">One</a></li>-->
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
     <app-search></app-search>
    </ul>
  </div>
</nav>
