@font-face {
  font-family: 'gloucester-mt-extra-condensed';
  src: url("../../../../assets/gloucester-mt-extra-condensed.TTF") format('truetype');
}

a{
  font-family: 'gloucester-mt-extra-condensed',"Times New Roman", Times, serif;
  font-size: 25px;
}

.mainMenu
{
  position: relative;
  top: 10px;
}

.navbar-left{
 padding-left: 0px ;
  margin-left: 0px ;

}

.navbar-right{
  padding-right: 10px ;
  margin-right: 0px ;
}

.activeMenu{
  color: #7dc6e7 !important;
}

