<nav class="navbar navbar-default">
    <div class="navbar-header">
      <a routerLink="/home">
        <img src="../../../../assets/Logo.png">
      </a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <!--<li><a class = "mainMenu" [routerLink]="'/items'" routerLinkActive="activeMenu"><strong>BROWSE</strong></a></li>-->
      <li><a class = "mainMenu" routerLink="/items" routerLinkActive="activeMenu">BROWSE</a></li>
      <li><a class = "mainMenu" routerLink="/cart"  routerLinkActive="activeMenu">CART</a></li>
      <li *ngIf="isLoggedIn()"><a class = "mainMenu" (click)="logout()" routerLink="/login" routerLinkActive="activeMenu">LOGOUT</a></li>
      <li *ngIf="!isLoggedIn()"><a class = "mainMenu" routerLink="/login" routerLinkActive="activeMenu">SIGNUP/LOGIN</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <app-search></app-search>
    </ul>
</nav>
