<div class="col-sm-6">

  <div class = "left">
    <img [src]="itemDetails.imgUrl" class="img-responsive"
         alt="itemDetails.title">
    <button class = "add-to-cart" (click)="addToCart()">ADD T0 CART</button>

    <h4 class = "price">{{itemDetails.price | currency:'EUR':true:'1.1-2'}}</h4>
  </div>

  <!--TODO: link href to cart-->

  <div class="details">
    <div class="title">
      <h4 class = "author-title">{{itemDetails.title}}</h4>
      <h5>By {{itemDetails.author}}</h5>
    </div>

    <div class="title">
      <h3 class = "description">{{itemDetails.description}}</h3>
    </div>

    <!--TODO: Link picture size selected to variable in code! -->

    <div class="form-group">
      <label for="sel1">Available sizes:</label>
      <select class="form-control" id="sel1">
        <option>4" x 6" <span>S</span></option>
        <option>8" x 10" <span>M</span></option>
        <option>18" x 24" <span>L</span></option>
      </select>
    </div>
  </div>
</div>


<app-item-recommendation [item]="itemDetails"></app-item-recommendation>
