<div class="container col-sm-9">

  <div class="listingDiv">
    <div class = "imageDiv">
      <img [src]="itemDetails.imgUrl" alt="itemDetails.title">
      <div>
        <button class = "add-to-cart" (click)="addToCart()">ADD T0 CART</button>
        <h4 class = "price">{{itemDetails.price | currency:'EUR':true:'1.1-2'}}</h4>
      </div>
    </div>

    <div class="details">
      <div class="title">
        <h4 class = "title">{{itemDetails.title}}</h4>
        <h5 class = "artist">By {{itemDetails.artist}}</h5>
      </div>


      <h3 class = "description">{{itemDetails.description}}</h3>

      <div class="form-group">
        <label class = "sizeLabel" for="sizeSel">Available sizes:</label>
        <select class="form-control" id="sizeSel" [(ngModel)]="itemDetails.size" name="itemSize">
          <option>4" x 6"   S</option>
          <option>8" x 10"  M</option>
          <option>18" x 24" L</option>
        </select>
      </div>

    </div>
  </div>
</div>

<div class="col-sm-9">
  <div class = "item-recomendation">
    <app-item-recommendation [item]="itemDetails"></app-item-recommendation>
  </div>
</div>
