@import "../../../shared/styles";

.add-to-cart{
  background-color: transparent;
  color: black;
  font-size: 25px;
  border: 0px;
  position: relative;
}

.price{
  font-size: 25px;
  color: black;
  float: right;
}

.title{
  font-size: 30px;
  color: black;
}

button, .price , .title{
  font-family: "gloucester-mt-extra-condensed","Times New Roman", Times, serif;
}

.artist{
  font-size: 20px;
}

.description{
  font-size: 15px;
}

.sizeLabel{
  font-size: 20px;
}

.form-control{
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
}

.imageDiv{
  width: 400px;
  float: left;
  img{
    max-width: 100%;
  }

  padding-right: 30px;
}

.details{
  float: left;
  display:block;
  width:450px;
}


