.preview-panel {
  border: solid gray 2px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.painting-name{
  color: black;
  font-size: 25px;
  position: relative;
  left: 5%;
}

.artist{
  color: black;
  font-size: 15px;
  position: relative;
  left: 5%;
}

