@font-face {
  font-family: 'gloucester-mt-extra-condensed';
  src: url("../../../../assets/gloucester-mt-extra-condensed.TTF") format('truetype');
}

.check-out{
  font-size: 30px;
  color: black;
  position: relative;
  bottom: 40px;
  font-family: 'gloucester-mt-extra-condensed',"Times New Roman", Times, serif;
  background-color: transparent;
  border: 0px;
  top: 5px;
}

.total{
  color: black;
  position: relative;
  font-family: 'gloucester-mt-extra-condensed',"Times New Roman", Times, serif;
  font-size: 25px;
  float: right;
}


