<div class="container">
  <div class="contact_us">
    <div class="col-md-6 info">
      <h3><span class="bold">Address:</span> Patri S. Zarb</h3>
      <h3><span class="bold">Telephone:</span> 22913100</h3>
      <h3><span class="bold">Email:</span> contactus@springfield.com</h3>
    </div>

    <div class="col-md-6 map">
      <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom] = "17">
        <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
      </sebm-google-map>
    </div>
  </div>
</div>
