
<!--<div class="container">-->
  <!--<div class="login-box">-->
    <!--<div class="row top-div">-->

      <!--<div class="title-div">-->
        <!--<div class="col-xs-6 col-md-4">-->
          <!--<h1>LOGIN</h1>-->
        <!--</div>-->
        <!--<div class="col-xs-12 col-md-8">-->
          <!--<h3>Don't have an account? <a routerLink="/register">Register Here</a></h3>-->
        <!--</div>-->
      <!--</div>-->

      <!--<form>-->
        <!--&lt;!&ndash;TODO: Clean up classes&ndash;&gt;-->
        <!--<div class="form-group-lg col-md-8 loginForm">-->
          <!--<input type="email" class="form-control formInput inputClass" placeholder="Title" [(ngModel)]="itemDetail.title"-->
                 <!--name="title">-->

          <!--<input type="password" class="form-control formInput inputClass" placeholder="Password" [(ngModel)]="loginData.password"-->
                 <!--name="password">-->

          <!--<button (click)=attemptLogin() class="btn waves-effect waves-light col-xs-6 col-md-4 loginButton">Login</button>-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
