<div class="navbar navbar-default navbar-fixed-left">
  <ul class="nav nav-stacked">
    <li class="title">CATEGORIES</li>
    <li><a routerLinkActive="active" routerLink="oil">Oil</a></li>
    <li><a routerLinkActive="active" routerLink="watercolor">Watercolor</a></li>
    <li><a routerLinkActive="active" routerLink="pastel" >Pastel</a></li>
    <li><a routerLinkActive="active" routerLink="acrylic">Acrylic</a></li>
    <li><a routerLinkActive="active" routerLink="digital">Digital</a></li>
  </ul>
</div>
