<div class="col-md-3">
  <div class="navbar navbar-default navbar-fixed-left">
    <ul class="nav nav-stacked">
      <li class="title"><strong>CATEGORIES</strong></li>
      <li><a routerLinkActive="active" routerLink="/items/category/oil">Oil</a></li>
      <li><a routerLinkActive="active" routerLink="/items/category/watercolor">Watercolor</a></li>
      <li><a routerLinkActive="active" routerLink="/items/category/pastel" >Pastel</a></li>
      <li><a routerLinkActive="active" routerLink="/items/category/acrylic">Acrylic</a></li>
      <li><a routerLinkActive="active" routerLink="/items/category/digital">Digital</a></li>
    </ul>
  </div>
</div>
