<div class="container">
  <div class="creditCard">
    <div class="title_box">
      <div class="title">
        <h1>CREDIT CARD DETAILS</h1>
      </div>
    </div>

    <div class="form_div">
      <form>
        <div class="form-group">
          <div>
            <select class="form-control col-md-4 inputClass" [(ngModel)]="cardDetails.gender" name="genderSelect">
              <option value="Mr">Mr</option>
              <option value="Ms">Ms</option>
            </select>

            <input type="text" class="form-control formInput col-md-8 inputClass" placeholder="Name On Card" [(ngModel)]="cardDetails.cardName"
                   name="cardName" required>
          </div>


            <input type="number" class="form-control formInput col-md-6 inputClass cardNo" placeholder="Credit Card Number" [(ngModel)]="cardDetails.cardNumber"
                   name="cardNumber" required>

        </div>

        <div class="form-group">
          <input type="month" class="form-control formInput col-md-6 inputClass" placeholder="MM/YY" [(ngModel)]="cardDetails.date" name="date"/>
          <input type="number" class="form-control formInput col-md-6 inputClass" placeholder="CVV code" [(ngModel)]="cardDetails.cvv"
                 name="cardNumber" required>
        </div>

        <button (click)="attemptCheckout()" class="btn waves-effect waves-light col-xs-6 col-md-4 checkOutButton">CHECKOUT</button>
      </form>
    </div>

  </div>
</div>
